.layoutContainer {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.barName {
	color: rgb(221, 221, 221);
	top: 20%;
	transform: translateY(-15%);
	position: absolute;
}

.buttonContainer {
	top: 50%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translateY(-50%);
}

.my-icon-button {
	color: rgb(240, 84, 84);
	border-color: rgb(240, 84, 84);
}
